<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style-test.css" type="text/css">
    <title>Title</title>
</head>
<body>

<!--Top left menubox-->
<div id="menuBox2" class="row">
  <div id="menuCol2" class="col col-80 col-offset-10">
    <input id="check2" type="checkbox">
    <label class="main2" for="check2">
      <div class="title">
        <i class="icon-menu-line"></i>
      </div>
    </label>
    <div class="container2">
      <a class="plate2" ng-click="goHome()" target="_top2">
        <i class="icon-chat"></i>
      </a>
      <a class="plate2" ng-click="goProfile()" target="_top2">
        <i class="icon-button-notifications"></i>
      </a>
      <a class="plate2" ng-click="goMessage()" target="_top2">
        <i class="icon-edit-profile"></i>
      </a>
    </div>
  </div>
</div>

<!--Bottom menu-->
<div id="menuBox" class="row">
  <div id="menuCol" class="col col-80 col-offset-10">
    <input id="check" type="checkbox">
    <label class="main" for="check">
      <div class="title">
        <i class="icon-MenuButton"></i>
      </div>
    </label>
    <div class="container">
      <a class="plate" href="#">
        <i class="icon-arrow-left"></i>
      </a>
      <a class="plate" href="#" target="_top">
        <i class="icon-arrow-right"></i>
      </a>
    </div>
  </div>
</div>

</body>
</html>
