<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">

    <div class="profileInfo">
      <div class="row newHeader">
        <div class="col-20">
          <i id="back" class="icon-arrow-left" ng-click="back()"></i>
        </div>
        <div class="col-60">
          <h1 class="please"><span style="letter-spacing: 1px; font-family: Raleway;  font-weight: 200;">PASSWORD</span><br><span style="font-weight: 500; letter-spacing: -2px;">RESET</span></h1>
        </div>
        <div class="col-20">
          <!--<i id="out" class="icon-arrow-right" ng-click="back()"></i>-->
        </div>
      </div>
    </div>

    <div class="forgot_body">
      <div class="row" id="forgot_body">
        <a class="forgot_text">Enter your username or email address, and we'll send you a password reset email.</a>
      </div>
      <form name="forgotform" ng-submit="ForgotUser(forgotform)">
        <ion-input class="item item-input forgot_input"
                   ng-class="{ 'has-errors' : signupForm.reset.$invalid && signupForm.$submitted,'no-errors' : signupForm.reset.$valid && signupForm.$submitted}">
          <input type="forgot" name="forgot" placeholder="Email or Username" ng-model="data.reset" required>
        </ion-input>
        <div class="row">
          <div class="col">
            <div class="btnWrapper">
              <button class="button btnGenerel btnForgot" type="submit">RESET</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
