.backgroundImage img {
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 10001;
}

.imageContainer img {
  width: 30%;
  height: auto;
  right: 0;
  position: absolute;
  z-index: 10002;
  padding: 3% 3%;
}

.imageContainer img:active {
  transform: scale(0.97);
}
