<ion-tabs id="challenge-navbar" class="tabs-icon-top  tabs-color-active-positive">

  <div class="rowie row">
    <!-- Chats Tab -->
    <ion-tab class="col-33" title="Gallery" ng-click="navGallery()">
      <ion-nav-view name="tab-images"></ion-nav-view>
    </ion-tab>

    <!-- Dashboard Tab -->
    <ion-tab class="col-33" title="Description" ng-click="navDescription()">
      <ion-nav-view name="tab-details"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab class="col-33" title="Ideas" ng-click="navIdeas()">
      <ion-nav-view name="tab-ideas"></ion-nav-view>
    </ion-tab>
  </div>

</ion-tabs>
